.right-text {
  position: absolute;
  right: 20px;
  color: #222;
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.logo {
  width: 99px;
  height: 68px;
}
.nav-content {
  border: 1px solid #ddd;
  background: #fff;
}
.btn-black {
  border-radius: 8px;
  background: #000;
  color: white;
  font-weight: 400;
  width: 142px;
  text-align: center;
  height: 41px;
  position: absolute;
  right: 10px;
}
img {
  width: 20px;
  height: 20px;
}
